@import url('../assets/fonts/gordita/stylesheet.css');
@import url('../assets/fonts/Inter/css2.css');

:root {
    --primary: #004a80;
    --light-blue: #3e9ee8;
    --light-green: #54b38b;
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #212222;
    --gray: #ebebeb;
    --yellow: #fdce08;
    --tomato: #de3434;
    --green: #139747;

    --font-LufgaExtraLight: 'LufgaExtraLight';
    --font-LufgaLight: 'LufgaLight';
    --font-LufgaMedium: 'LufgaMedium';
    --font-LufgaSemiBold: 'LufgaSemiBold';
    --font-LufgaBold: 'LufgaBold';
    --font-LufgaSemiBold: 'LufgaSemiBold';
    --font-LufgaExtraBold: 'LufgaExtraBold';

    --heading-lg-h1: 70px;
    --heading-lg-h2: 70px;
    --heading-md-h2: 40px;
    --heading-sm-h2: 43px;
    --heading-lg-h3: 30px;
    --heading-md-h3: 30px;
    --heading-sm-h3: 20px;
    --heading-lg-h4: 50px;
    --heading-md-h4: 40px;
    --heading-sm-h4: 20px;
    --paragraph: 16px;
    --para-lg-w: 70%;
    --para-md-w: 80%;
    --para-sm-w: 100%;
    --custom-lg-w: 75%;
    --custom-md-w: 80%;
    --custom-sm-w: 100%;
    --transition: all 0.6s ease
}
body {
    font-family: "gordita";
    font-weight: normal;
    font-size: 16px;
    position: relative;
    color: rgba(0, 0, 0, .7);
}



/* =========== Scroll =============== */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0;
}

/* =========== Utiles =============== */
/* button */
.button {
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    border-radius: 61px;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    transition: transform .3s;
    display: flex;
    font-family: 'Inter';
}

.button:hover {
    color: var(--white);
    transform: scale(.9);
}
.p {
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: rgba(80, 80, 80, 1);
    padding-bottom: 30px;
}
.heading-2 {
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: rgba(17, 29, 59, 1);
}
/* =========== Banner =============== */
.banner-section{
    padding-top: 120px;
}
.left-about-one {
    position: relative;
}

.left-about-one {
    position: relative;
}
.left-about-one::after{
  content:url("../images/assets/Group12.png");
  position: absolute;
  right: 31px;
  bottom: 152px;
  z-index: -99999;
  transform: rotate(-15deg);
}
.left-about-one .pic-one {
    position: relative;
    bottom: 0;
    max-width:100%;
}
.left-about-one .pic-two {
    position: absolute;
    top: 42%;
    left: -14%;
    max-width:100%;
}
.left-about-one .pic-three {
    position: absolute;
    right: -14%;
    top: 4%;
    max-width:100%;
}
.left-about-one .pic-four {
   position: absolute;
   right: -14%;
   bottom: -11px;
   max-width:100%;
}
.left-about-one .pic-five {
    position: absolute;
    right: -12%;
    bottom: 18%;
    max-width: 100%;
    z-index: -1;
}

.pic-one-wrapper {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}
.pic-one-wrapper img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}

/* ============== About Us =================== */
.span-one {
    font-family: Gordita;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    color: rgba(80, 80, 80, 1);
    text-align: center;
    text-transform: uppercase;
}
.top {
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: var(--primary);
}
.bottom span {
    font-weight: bold;
    color: #111d3b;
}

/* ========= Slide Animation ========== */
.h-section {
    /* display: flex;
    height: 100vh; */
    /* overflow: hidden; */
    /* Hide overflow for parent div */
}

.h-section-items {
    min-width: 100vw;
    /* Each section takes full viewport width */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.h-items-1 {
    background-color: var(--tomato);
}

.h-items-2 {
    background-color: var(--light-green);
}

.h-items-3 {
    background-color: var(--light-blue);
}

.h-items-4 {
    background-color: var(--primary);
}

.h-items-5 {
    background-color: var(--dark-gray);
}
.slide-image{
    border-radius: 100px;
}

.hig-scroll-wrapper{
    width: 40%;
}
.hig-scroll-bottom{
    width: 100%;
    height: 4px;
    background-color: rgb(125, 127, 125);
}
.hig-scroll-indicator{
    width: 00%;
    height: 4px;
    background-color: rgb(62, 62, 136);
}

@media(max-width: 767px){
    .pic-one-wrapper {
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
    .left-about-one .pic-three, .left-about-one .pic-five {
        display: none;
    }
}








